@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
    IPublishedContent homePage = Umbraco.AssignedContentItem.AncestorOrSelf("home");
    IEnumerable<IPublishedContent> navigationPages = homePage.Children(x => x.IsVisible());
}
<div id="myNav" class="overlay-menu">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <p>close</p>
    @if (navigationPages != null && navigationPages.Count() > 0)
    {
    <div class="overlay-content">
        <a href="/">Home</a>
        @foreach (IPublishedContent page in navigationPages)
        {
        <a href="@page.Url">@page.Name</a>
        }


        <br>
        
       @* <a href="mailto:info@stasinternational.com"><i class="fas fa-envelope-square fa-2x social-space hvr-grow" style="color:white !important"></i></a> </p>
        <a href="tel:+597521262"><i class="fas fa-phone-square fa-2x social-space hvr-grow" style="color:white !important"></i></a> </p>
        <a href= "https://www.facebook.com/STASinternational" target="_blank"><i class="fab fa-facebook-square fa-2x social-space hvr-grow" style="color:white !important"></i></a></p>
        <a href="https://vimeo.com/staschannel" target="_blank" > <i class="fab fa-vimeo-square fa-2x social-space hvr-grow" style="color:white !important"></i></a></p>
        *@
        
      </div>
    }
     </div>
<div class="container">
    <div class="row">
        <div class="col-md-1 menu-box">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()"> &#9868;</span>
            <p>menu</p>
        </div>
    </div>
</div>