@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="~/scripts/jquery.fitvids.js"></script>
   
    <script src="~/scripts/jquery.bxslider.min.js"></script>
    <link href="~/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/css/animated-scroll-anchor.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="css/hover-min.css">
    <link href="~/css/style.css" rel="stylesheet">

</head>
@{Html.RenderPartial("Sitelayout/_Artist");}


@{ Html.RenderPartial("SiteLayout/_Menu");}

@{ Html.RenderPartial("SiteLayout/_STASTagline");}

@RenderBody()
@{Html.RenderPartial("SiteLayout/_Footer");}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/85807/jquery.easing.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/85807/jquery.bxslider.min.js'></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="~/scripts/animated-scroll-anchor.js"></script>
<script src="~/scripts/scrolldown.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/scripts/custom.js"></script>


  </body>

</html>