@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="adres">
                    <center>  <i class="fas fa-home hvr-grow"></i></center>
                    <p>	Dr.J.F. Nassylaan 43, Paramaribo Suriname</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="telefoon">
                    <center>  <i class="fas fa-phone hvr-grow"></i></center>
                    <p>+597 521262,+597 521263</p>
                </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="bericht">
                    <center><i class="fab fa-telegram-plane hvr-grow"></i></center>
                    <p>	info@stasinternational.com</p>
                </div>
            </div>
        </div>
    </div>

</section>