@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits UmbracoViewPage
<section id="corporate">
    <div class="container-fluid">
        <div class="row">

            <div class="classy">
                <ul class="bxslider">
                    <li class="one">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5 amanah">
                                    <h3>TRUSTBANK <br> AMANAH <br> <img class="hvr-wobble-top" src="img/partlogo-01.png" alt="amanah"></h3>



                                    <a href="corporate.html" class="hvr-grow">CORPORATE IDENTITY</a>
                                    <br>
                                    <a href="graphic.html" class="hvr-grow">GRAPHIC DESIGN</a>
                                    <br>
                                    <a href="film.html" class="hvr-grow">FILM/VIDEO</a>
                                    <br>
                                    <br>
                                    <a href="#" class="hvr-grow view-project">VIEW PROJECT <img class="amanah-pijl" src="img/down-arrow.png" alt="leeronskennen"> </a>
                                </div>


                            </div>
                        </div>

                    <li class="two">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5 amanah">
                                    <h3>AFOBAKKA <br> RESSORT <br> <img class="hvr-wobble-top" src="img/partlogo-01.png" alt="amanah"></h3>



                                    <a href="corporate.html" class="hvr-grow">CORPORATE IDENTITY</a>
                                    <br>
                                    <a href="graphic.html" class="hvr-grow">GRAPHIC DESIGN</a>
                                    <br>
                                    <a href="film.html" class="hvr-grow">FILM/VIDEO</a>
                                    <br>
                                    <br>
                                    <a href="#" class="hvr-grow view-project">VIEW PROJECT <img class="amanah-pijl" src="~/img/down-arrow.png" alt="leeronskennen"> </a>
                                </div>


                            </div>
                        </div>
                    </li>

                    <li class="three">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-5 amanah">
                                    <h3>TOK<br> <img class="hvr-wobble-top" src="~/img/partlogo-01.png" alt="amanah"></h3>



                                    <a href="corporate.html" class="hvr-grow">CORPORATE IDENTITY</a>
                                    <br>
                                    <a href="graphic.html" class="hvr-grow">GRAPHIC DESIGN</a>
                                    <br>
                                    <a href="film.html" class="hvr-grow">FILM/VIDEO</a>
                                    <br>
                                    <br>
                                    <a href="#" class="hvr-grow view-project">VIEW PROJECT <img class="amanah-pijl" src="~/img/down-arrow.png" alt="leeronskennen"> </a>
                                </div>


                            </div>
                        </div>
                    </li>
                    </li>

                </ul>
            </div>
        </div>

    </div>

</section>