<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT filmVideo ANY>
<!ATTLIST filmVideo id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT corporateIdentities ANY>
<!ATTLIST corporateIdentities id ID #REQUIRED>
<!ELEMENT graphicDesign ANY>
<!ATTLIST graphicDesign id ID #REQUIRED>
<!ELEMENT events ANY>
<!ATTLIST events id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT banner ANY>
<!ATTLIST banner id ID #REQUIRED>
<!ELEMENT artist ANY>
<!ATTLIST artist id ID #REQUIRED>
<!ELEMENT cTA ANY>
<!ATTLIST cTA id ID #REQUIRED>
<!ELEMENT textSection ANY>
<!ATTLIST textSection id ID #REQUIRED>
]>
<root id="-1">
  <home id="1070" key="d7086a0a-e0f5-4d24-be46-2324597b0c28" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-03T13:34:31" updateDate="2018-07-03T16:19:42" nodeName="home" urlName="home" path="-1,1070" isDoc="" nodeType="1054" creatorName="rheo" writerName="rheo" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <artistImage><![CDATA[umb://media/bf63022d50c641299e12a9ac7faf83b3]]></artistImage>
    <homeLandingImage><![CDATA[umb://media/fa1ff94d219141b3aa602db5a80fe1e2]]></homeLandingImage>
    <homeBannerText><![CDATA[we're a small company <br> but our work <br>  is absolutely huge.. ]]></homeBannerText>
    <aboutText><![CDATA[<p><span>Wij zijn een proactief, servicegericht communicatie en branding bureau. Wij helpen onze klanten om zich op een strategische en creatieve manier te onderscheiden van anderen. Middels ons grafisch portfolio en andere informatie op deze website krijgt u als klant een beeld van onze aanpak, werkwijze en het eindresultaat.</span></p>]]></aboutText>
    <aboutTitle><![CDATA[FULL OF IDEAS]]></aboutTitle>
    <aboutImages><![CDATA[umb://media/57f402237e5442928e0bcbdd33d5b975,umb://media/c699f33a7fb44ff4974be913ecfb9265,umb://media/e90ee96e80d444759e21865ec6f361a3]]></aboutImages>
    <contactTitle><![CDATA[Want to know what STAS can do for u? <br> Drop us a line and we'll get in touch.  ]]></contactTitle>
    <contactEmail><![CDATA[rheo.matabadal.natin@gmail.com]]></contactEmail>
    <aboutUs id="1076" key="ea0d6b03-4cb9-4935-ad05-2d2685e7788e" parentID="1070" level="2" creatorID="0" sortOrder="0" createDate="2018-07-03T14:17:41" updateDate="2018-07-03T16:53:52" nodeName="About Us" urlName="about-us" path="-1,1070,1076" isDoc="" nodeType="1058" creatorName="rheo" writerName="rheo" writerID="0" template="1057" nodeTypeAlias="aboutUs" isPublished="true">
      <zwarteText><![CDATA[There is no greater agony then bearing an untold story inside you]]></zwarteText>
      <witteBox><![CDATA[About STAS International]]></witteBox>
      <bannerAuthor><![CDATA[- Maya Angelou]]></bannerAuthor>
      <bannerImage><![CDATA[umb://media/b7341c06dae64f678503d9a2376a7d30]]></bannerImage>
      <ctaImage><![CDATA[umb://media/fa1ff94d219141b3aa602db5a80fe1e2]]></ctaImage>
      <ctaText><![CDATA[Want to know what STAS can do for u?]]></ctaText>
      <titleText><![CDATA[Together we create]]></titleText>
      <aboutTextCol2><![CDATA[<p><span>STAS International richt zich door haar professionele opzet en uistraling op de top 100 bedrijven en organisaties uit Suriname. Als Strategic Communication and Branding Authority beschikken wij over een full professional studio . Elke klant krijgt een acount manager toegewezen die de uitvoering ter hand neemt.</span></p>]]></aboutTextCol2>
      <subtitle><![CDATA[STAS International is een proactief, servicegericht communicatie en branding bureau. Wij helpen onze klanten zich op een strategische en creatieve manier te onderscheiden van anderen.]]></subtitle>
      <aboutTextCol1><![CDATA[<p><span>STAS International is een full brand building bureau gevestigd in Suriname. Zij positioneert merken en voert de gehele communicatie van research tot en met creatie voor klanten uit het bedrijfsleven, de overheidssector, niet gouvernementele en gouvernementele organtisaties.</span></p>]]></aboutTextCol1>
      <underBannerImages><![CDATA[umb://media/28c4f685f847436f9d3ceb915d70a011,umb://media/b808489a541f4e76b3cb408e4c54f3e5,umb://media/f2698b16e19a413180feb4945b7178e3,umb://media/98ada9fb83da461b9168cf7f3f4259d0]]></underBannerImages>
    </aboutUs>
    <corporateIdentities id="1081" key="afe50632-8dcc-4912-9813-bded6019a8e7" parentID="1070" level="2" creatorID="0" sortOrder="1" createDate="2018-07-03T14:37:37" updateDate="2018-07-03T17:44:02" nodeName="Corporate Identities" urlName="corporate-identities" path="-1,1070,1081" isDoc="" nodeType="1062" creatorName="rheo" writerName="rheo" writerID="0" template="1061" nodeTypeAlias="corporateIdentities" isPublished="true">
      <zwarteText><![CDATA[Design is the silent ambassador of your brand]]></zwarteText>
      <witteBox><![CDATA[Corporate Identity]]></witteBox>
      <bannerAuthor><![CDATA[Paul Rand]]></bannerAuthor>
      <bannerImage><![CDATA[umb://media/75335600f98049b696509631f113d7c6]]></bannerImage>
      <titleText><![CDATA[01.]]></titleText>
      <text><![CDATA[<p><span>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</span></p>]]></text>
      <subtitle><![CDATA[who are you]]></subtitle>
      <title3><![CDATA[03.]]></title3>
      <text3><![CDATA[<p><span>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</span></p>]]></text3>
      <subtitle3><![CDATA[share your story]]></subtitle3>
      <text2><![CDATA[<p><span>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</span></p>]]></text2>
      <subtitle2><![CDATA[know your clients]]></subtitle2>
      <title2><![CDATA[02.]]></title2>
      <blackBoxText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum natus et totam nisi ratione ea officiis soluta sequi non vitae dignissimos iusto incidunt, modi voluptatem ullam nemo voluptates. Maiores, nemo.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<p> </p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum natus et totam nisi ratione ea officiis soluta sequi non vitae dignissimos iusto incidunt, modi voluptatem ullam nemo</p>]]></blackBoxText>
      <blackBoxTitle><![CDATA[You only get one <br> first impression]]></blackBoxTitle>
      <fotoRechts1><![CDATA[umb://media/241faea01e1a46f692deb4c37e5de3b5]]></fotoRechts1>
      <fotoRechts2><![CDATA[umb://media/0b342fb9eb574aeeaedb4c91ab772474]]></fotoRechts2>
      <fotoRechts4><![CDATA[umb://media/c616d6c4294f423582a7f97380f23280]]></fotoRechts4>
      <fotoRechts3><![CDATA[umb://media/28fcba5d48154b04b829c6abd5c1646d]]></fotoRechts3>
      <fotosOnder><![CDATA[umb://media/7d47b587b326497c84940140b7f2c582,umb://media/db7fc4457d4d4417be7968a422150802,umb://media/c1ec01a47c0449938b29553d24e7cbba,umb://media/15a1a957efd34da2b88311baf76149d6]]></fotosOnder>
    </corporateIdentities>
    <events id="1082" key="415ee842-8aed-4232-8c2a-6d444f14f127" parentID="1070" level="2" creatorID="0" sortOrder="2" createDate="2018-07-03T15:06:23" updateDate="2018-07-04T09:37:28" nodeName="Events" urlName="events" path="-1,1070,1082" isDoc="" nodeType="1066" creatorName="rheo" writerName="rheo" writerID="0" template="1065" nodeTypeAlias="events" isPublished="true">
      <zwarteText><![CDATA[Good fortune is what happens when oppertunity meets with planning.]]></zwarteText>
      <witteBox><![CDATA[Events]]></witteBox>
      <bannerAuthor><![CDATA[Thomas Edison]]></bannerAuthor>
      <bannerImage><![CDATA[umb://media/c96b759007224a159d5f5301926da1b7]]></bannerImage>
      <titleText><![CDATA[ We make your event, <br> the one people will remember]]></titleText>
      <conceptTitle><![CDATA[Concept]]></conceptTitle>
      <logistiekFoto><![CDATA[umb://media/64b0e0abb2fb4aac8c6775665acb834d]]></logistiekFoto>
      <conceptFoto><![CDATA[umb://media/59808927749840e281a3f68a25d385f7]]></conceptFoto>
      <logistiekText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque adipisci id perspiciatis veniam magnam! Numquam incidunt placeat eos cum. Beatae perspiciatis officiis sint harum voluptatibus, est quam laborum labore. Nulla.</span></p>]]></logistiekText>
      <persFoto><![CDATA[umb://media/2701adf53517415eb2615fe063187ac5]]></persFoto>
      <persText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque adipisci id perspiciatis veniam magnam! Numquam incidunt placeat eos cum. Beatae perspiciatis officiis sint harum voluptatibus, est quam laborum labore. Nulla.</span></p>]]></persText>
      <persTitle><![CDATA[Pers]]></persTitle>
      <subtitle><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iste rerum sit facilis voluptas neque deleniti, assumenda laudantium eaque nobis similique odio maiores nostrum delectus beatae accusamus nihil id dolorem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, tempore, nesciunt! Necessitatibus quam quisquam autem, voluptate aliquam quaerat, consequatur adipisci voluptatem iste blanditiis, molestias corporis temporibus, ducimus consequuntur qui reiciendis.</span></p>]]></subtitle>
      <conceptText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque adipisci id perspiciatis veniam magnam! Numquam incidunt placeat eos cum. Beatae perspiciatis officiis sint harum voluptatibus, est quam laborum labore. Nulla.</span></p>]]></conceptText>
      <logistiekTitle><![CDATA[Logistiek]]></logistiekTitle>
      <fotosRechts><![CDATA[umb://media/95c8e743d8944a1fb3ff9136fb119a2e]]></fotosRechts>
      <fotosLinks><![CDATA[umb://media/27d03331330843e39166ba2dbe061958,umb://media/cd0ab4d5e15345da8647e2ba3eb65d8e,umb://media/a00878477f304876847ae996a1af9f3e,umb://media/1cda07e5c9b74800ad5b143f703399f2]]></fotosLinks>
    </events>
    <graphicDesign id="1085" key="6650c9f7-c326-4127-b112-f3b45c2a733e" parentID="1070" level="2" creatorID="0" sortOrder="3" createDate="2018-07-03T15:29:49" updateDate="2018-07-03T23:28:15" nodeName="Graphic Design" urlName="graphic-design" path="-1,1070,1085" isDoc="" nodeType="1064" creatorName="rheo" writerName="rheo" writerID="0" template="1063" nodeTypeAlias="graphicDesign" isPublished="true">
      <zwarteText><![CDATA[Design is intelligence made visible]]></zwarteText>
      <witteBox><![CDATA[Graphic Design]]></witteBox>
      <bannerAuthor><![CDATA[Alina Wheeler]]></bannerAuthor>
      <bannerImage><![CDATA[umb://media/4627084b3037472682380344c1f5dfc5]]></bannerImage>
      <ctaImage><![CDATA[umb://media/fa1ff94d219141b3aa602db5a80fe1e2]]></ctaImage>
      <ctaText><![CDATA[Want to know what STAS can do for u?]]></ctaText>
      <titleText><![CDATA[We design for people]]></titleText>
      <graphicColLinks><![CDATA[<p><span>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</span></p>]]></graphicColLinks>
      <graphicColRechts><![CDATA[<p><span>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</span></p>]]></graphicColRechts>
      <ontwerp><![CDATA[Ontwerp]]></ontwerp>
      <ontwerpFoto><![CDATA[umb://media/9f62613899c24e489254ce2347c5b68c]]></ontwerpFoto>
      <dTP><![CDATA[DTP]]></dTP>
      <webdesignFoto><![CDATA[umb://media/8758a7e61b3f4816a2f9ad9f7216ec43]]></webdesignFoto>
      <adobeCCFoto><![CDATA[umb://media/b6fd6e915e974df39d8af832503d9266]]></adobeCCFoto>
      <webdesign><![CDATA[webdesign]]></webdesign>
      <dtpFoto><![CDATA[umb://media/70b1126a3c05429fb95487483570380b]]></dtpFoto>
      <adobeCC><![CDATA[adobe cc]]></adobeCC>
      <graphicImages><![CDATA[umb://media/d885a82324684061ab9bbe49cbd657c6,umb://media/82d0fc21e525403491b9d476585441b8,umb://media/28fcba5d48154b04b829c6abd5c1646d,umb://media/fd3379416f6c4e978f94eb0600a7da4d,umb://media/a2600d6b1ac24233840a212704362c87,umb://media/a0435568c1054526814944559e8e0b4e]]></graphicImages>
    </graphicDesign>
    <filmVideo id="1090" key="f10de2ec-a2a5-42b7-b72f-6b122876d6e8" parentID="1070" level="2" creatorID="0" sortOrder="4" createDate="2018-07-03T15:52:24" updateDate="2018-07-03T15:52:24" nodeName="Film Video" urlName="film-video" path="-1,1070,1090" isDoc="" nodeType="1087" creatorName="rheo" writerName="rheo" writerID="0" template="1086" nodeTypeAlias="filmVideo" isPublished="true">
      <zwarteText><![CDATA[Pain is temporary, film is forever]]></zwarteText>
      <witteBox><![CDATA[Video/Film]]></witteBox>
      <bannerAuthor><![CDATA[John Milius]]></bannerAuthor>
      <bannerImage><![CDATA[umb://media/b53254f86b1d4d69a9e6d9b9f0cde09e]]></bannerImage>
      <ctaImage><![CDATA[umb://media/6f2d770e1a8141189e6f26cb71aec5cf]]></ctaImage>
      <ctaText><![CDATA[Interested in your own video?]]></ctaText>
      <titleText><![CDATA[The power of video]]></titleText>
      <filmTextCol1><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur sunt dolore porro dolorem nobis perspiciatis alias at fugiat placeat temporibus vel tempore minima modi, animi dolorum, possimus facere. Velit, impedit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam minus harum rerum possimus tempore, perferendis assumenda velit dolore asperiores, nesciunt tenetur veritatis unde doloremque alias quam quo quaerat doloribus dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis placeat alias temporibus modi sequi! Ducimus exercitationem aspernatur rerum reprehenderit libero, ratione nam totam eaque nihil numquam, a repellendus quos ab?</span></p>]]></filmTextCol1>
      <filmTextCol2><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, nesciunt officia doloremque voluptatibus. Aspernatur odio voluptatibus sit ex nesciunt dolorum ratione saepe eaque voluptatum eveniet totam, explicabo labore obcaecati nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod harum saepe deleniti sint veritatis et rerum modi autem atque molestiae, fuga nulla suscipit aspernatur eius quae voluptas dolores eum quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit explicabo fuga aspernatur velit aliquam officia est at, corporis vero debitis earum totam a mollitia ullam quo facilis doloribus consequuntur porro!</span></p>]]></filmTextCol2>
      <subtitle><![CDATA[Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia non obcaecati repudiandae aliquam aut nihil eveniet tempora id unde mollitia ab, consequuntur, eum sed, quo ipsum minus aperiam. Eligendi, veritatis.]]></subtitle>
    </filmVideo>
    <portfolio id="1091" key="8ca5a22f-faa7-4a04-b860-3d0d42dd82f2" parentID="1070" level="2" creatorID="0" sortOrder="5" createDate="2018-07-03T16:05:54" updateDate="2018-07-03T16:09:41" nodeName="Portfolio" urlName="portfolio" path="-1,1070,1091" isDoc="" nodeType="1068" creatorName="rheo" writerName="rheo" writerID="0" template="1067" nodeTypeAlias="portfolio" isPublished="true">
      <witteBox><![CDATA[Portfolio]]></witteBox>
      <bannerImage><![CDATA[umb://media/a2539caa1552436d87f95c603430077f]]></bannerImage>
    </portfolio>
  </home>
</root>