<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
]>
<root id="-1">
  <home id="1070" key="d7086a0a-e0f5-4d24-be46-2324597b0c28" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-03T13:34:31" updateDate="2018-07-03T14:06:05" nodeName="home" urlName="home" path="-1,1070" isDoc="" nodeType="1054" creatorName="rheo" writerName="rheo" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <artistImage><![CDATA[umb://media/bf63022d50c641299e12a9ac7faf83b3]]></artistImage>
    <homeLandingImage><![CDATA[umb://media/fa1ff94d219141b3aa602db5a80fe1e2]]></homeLandingImage>
    <homeBannerText><![CDATA[we're a small company <br> but our work <br>  is absolutely huge.. ]]></homeBannerText>
    <aboutText><![CDATA[<p><span>Wij zijn een proactief, servicegericht communicatie en branding bureau. Wij helpen onze klanten om zich op een strategische en creatieve manier te onderscheiden van anderen. Middels ons grafisch portfolio en andere informatie op deze website krijgt u als klant een beeld van onze aanpak, werkwijze en het eindresultaat.</span></p>]]></aboutText>
    <aboutTitle><![CDATA[FULL OF IDEAS]]></aboutTitle>
    <contactTitle><![CDATA[Want to know what STAS can do for u? <br> Drop us a line and we'll get in touch.  ]]></contactTitle>
    <contactEmail><![CDATA[rheo.matabadal.natin@gmail.com]]></contactEmail>
  </home>
</root>