<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT corporateIdentities ANY>
<!ATTLIST corporateIdentities id ID #REQUIRED>
<!ELEMENT graphicDesign ANY>
<!ATTLIST graphicDesign id ID #REQUIRED>
<!ELEMENT events ANY>
<!ATTLIST events id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT banner ANY>
<!ATTLIST banner id ID #REQUIRED>
<!ELEMENT artist ANY>
<!ATTLIST artist id ID #REQUIRED>
<!ELEMENT cTA ANY>
<!ATTLIST cTA id ID #REQUIRED>
<!ELEMENT textSection ANY>
<!ATTLIST textSection id ID #REQUIRED>
]>
<root id="-1">
  <home id="1070" key="d7086a0a-e0f5-4d24-be46-2324597b0c28" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-03T13:34:31" updateDate="2018-07-03T14:06:05" nodeName="home" urlName="home" path="-1,1070" isDoc="" nodeType="1054" creatorName="rheo" writerName="rheo" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <artistImage><![CDATA[umb://media/bf63022d50c641299e12a9ac7faf83b3]]></artistImage>
    <homeLandingImage><![CDATA[umb://media/fa1ff94d219141b3aa602db5a80fe1e2]]></homeLandingImage>
    <homeBannerText><![CDATA[we're a small company <br> but our work <br>  is absolutely huge.. ]]></homeBannerText>
    <aboutText><![CDATA[<p><span>Wij zijn een proactief, servicegericht communicatie en branding bureau. Wij helpen onze klanten om zich op een strategische en creatieve manier te onderscheiden van anderen. Middels ons grafisch portfolio en andere informatie op deze website krijgt u als klant een beeld van onze aanpak, werkwijze en het eindresultaat.</span></p>]]></aboutText>
    <aboutTitle><![CDATA[FULL OF IDEAS]]></aboutTitle>
    <contactTitle><![CDATA[Want to know what STAS can do for u? <br> Drop us a line and we'll get in touch.  ]]></contactTitle>
    <contactEmail><![CDATA[rheo.matabadal.natin@gmail.com]]></contactEmail>
    <aboutUs id="1076" key="ea0d6b03-4cb9-4935-ad05-2d2685e7788e" parentID="1070" level="2" creatorID="0" sortOrder="0" createDate="2018-07-03T14:17:41" updateDate="2018-07-03T14:34:20" nodeName="About Us" urlName="about-us" path="-1,1070,1076" isDoc="" nodeType="1058" creatorName="rheo" writerName="rheo" writerID="0" template="1057" nodeTypeAlias="aboutUs" isPublished="true">
      <zwarteText><![CDATA[There is no greater agony then bearing an untold story inside you]]></zwarteText>
      <witteBox><![CDATA[About STAS International]]></witteBox>
      <bannerAuthor><![CDATA[- Maya Angelou]]></bannerAuthor>
      <bannerImage><![CDATA[umb://media/b7341c06dae64f678503d9a2376a7d30]]></bannerImage>
      <ctaImage><![CDATA[umb://media/fa1ff94d219141b3aa602db5a80fe1e2]]></ctaImage>
      <titleText><![CDATA[Together we create]]></titleText>
      <aboutTextCol2><![CDATA[<p><span>STAS International richt zich door haar professionele opzet en uistraling op de top 100 bedrijven en organisaties uit Suriname. Als Strategic Communication and Branding Authority beschikken wij over een full professional studio . Elke klant krijgt een acount manager toegewezen die de uitvoering ter hand neemt.</span></p>]]></aboutTextCol2>
      <subtitle><![CDATA[STAS International is een proactief, servicegericht communicatie en branding bureau. Wij helpen onze klanten zich op een strategische en creatieve manier te onderscheiden van anderen.]]></subtitle>
      <aboutTextCol1><![CDATA[<p><span>STAS International is een full brand building bureau gevestigd in Suriname. Zij positioneert merken en voert de gehele communicatie van research tot en met creatie voor klanten uit het bedrijfsleven, de overheidssector, niet gouvernementele en gouvernementele organtisaties.</span></p>]]></aboutTextCol1>
    </aboutUs>
    <corporateIdentities id="1081" key="afe50632-8dcc-4912-9813-bded6019a8e7" parentID="1070" level="2" creatorID="0" sortOrder="1" createDate="2018-07-03T14:37:37" updateDate="2018-07-03T14:46:45" nodeName="Corporate Identities" urlName="corporate-identities" path="-1,1070,1081" isDoc="" nodeType="1062" creatorName="rheo" writerName="rheo" writerID="0" template="1061" nodeTypeAlias="corporateIdentities" isPublished="true">
      <zwarteText><![CDATA[Design is the silent ambassador of your brand]]></zwarteText>
      <witteBox><![CDATA[Corporate Identity]]></witteBox>
      <bannerAuthor><![CDATA[Paul Rand]]></bannerAuthor>
      <bannerImage><![CDATA[umb://media/75335600f98049b696509631f113d7c6]]></bannerImage>
      <titleText><![CDATA[01.]]></titleText>
      <text><![CDATA[<p><span>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</span></p>]]></text>
      <subtitle><![CDATA[who are you]]></subtitle>
      <title3><![CDATA[03.]]></title3>
      <text3><![CDATA[<p><span>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</span></p>]]></text3>
      <subtitle3><![CDATA[share your story]]></subtitle3>
      <text2><![CDATA[<p><span>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</span></p>]]></text2>
      <subtitle2><![CDATA[know your clients]]></subtitle2>
      <title2><![CDATA[02.]]></title2>
      <blackBoxText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum natus et totam nisi ratione ea officiis soluta sequi non vitae dignissimos iusto incidunt, modi voluptatem ullam nemo voluptates. Maiores, nemo.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<p> </p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum natus et totam nisi ratione ea officiis soluta sequi non vitae dignissimos iusto incidunt, modi voluptatem ullam nemo</p>]]></blackBoxText>
      <blackBoxTitle><![CDATA[You only get one <br> first impression]]></blackBoxTitle>
    </corporateIdentities>
    <events id="1082" key="415ee842-8aed-4232-8c2a-6d444f14f127" parentID="1070" level="2" creatorID="0" sortOrder="2" createDate="2018-07-03T15:06:23" updateDate="2018-07-03T15:08:53" nodeName="Events" urlName="events" path="-1,1070,1082" isDoc="" nodeType="1066" creatorName="rheo" writerName="rheo" writerID="0" template="1065" nodeTypeAlias="events" isPublished="true">
      <zwarteText><![CDATA[Good fortune is what happens when oppertunity meets with planning.]]></zwarteText>
      <witteBox><![CDATA[Events]]></witteBox>
      <bannerAuthor><![CDATA[Thomas Edison]]></bannerAuthor>
      <bannerImage><![CDATA[umb://media/c96b759007224a159d5f5301926da1b7]]></bannerImage>
      <titleText><![CDATA[ We make your event,  the one people will remember]]></titleText>
      <conceptTitle><![CDATA[Concept]]></conceptTitle>
      <logistiekText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque adipisci id perspiciatis veniam magnam! Numquam incidunt placeat eos cum. Beatae perspiciatis officiis sint harum voluptatibus, est quam laborum labore. Nulla.</span></p>]]></logistiekText>
      <persText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque adipisci id perspiciatis veniam magnam! Numquam incidunt placeat eos cum. Beatae perspiciatis officiis sint harum voluptatibus, est quam laborum labore. Nulla.</span></p>]]></persText>
      <persTitle><![CDATA[Pers]]></persTitle>
      <subtitle><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iste rerum sit facilis voluptas neque deleniti, assumenda laudantium eaque nobis similique odio maiores nostrum delectus beatae accusamus nihil id dolorem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, tempore, nesciunt! Necessitatibus quam quisquam autem, voluptate aliquam quaerat, consequatur adipisci voluptatem iste blanditiis, molestias corporis temporibus, ducimus consequuntur qui reiciendis.</span></p>]]></subtitle>
      <conceptText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque adipisci id perspiciatis veniam magnam! Numquam incidunt placeat eos cum. Beatae perspiciatis officiis sint harum voluptatibus, est quam laborum labore. Nulla.</span></p>]]></conceptText>
      <logistiekTitle><![CDATA[Logistiek]]></logistiekTitle>
    </events>
  </home>
</root>